@charset "utf-8";
/* CSS Reset */
{
    margin: 0;
    padding: 0;
}

body {
    
    text-align: center;
    margin: 5em 0 0 0;
    vertical-align: middle; 
    background: #fafafa;
    margin: 100px;
}


#content {
    width: 1000px;
    background: #fafafa;
    text-align: left;
    margin: 0 auto;
    font-size: 22px;
    
    border-style:solid;
    border-width:4px;
    border-color: #74ef94;
    border-radius: 10px;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;  
       
    box-shadow: 3px 3px 5px #28b54c;
    -webkit-box-shadow: 3px 3px 5px #777;  
    
    padding: 10px;
    
}

#progressbar{
    
/*     background: yellow; */
}

td {
    margin: 10px;
    padding: 10px;
    
}

tr.status_ok {
    background-color: #ccffd1;
    
}


tr.status_error {
    background-color: #ffcccc;
}

tr.status_warning {
    background-color: #feffcc;
}


td.output_desc {
    width: 300px;
}

td.output_full {
    width: 450px;
}

td.status {
    width: 60px;
    text-align: center;
}


tr.status_ok td.status {
    background-color: green;
}

tr.status_error td.status {
    background-color: red;
}

tr.status_warning td.status {
    background-color: yellow;
}