{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset password{% endblock %}
{% block content %}

<div class="row">
    <div class="span8 offset2 well">
        <h1>Password reminder</h1>
        <p>Forgot your password?  Enter your email in the form below and we'll send you
        instructions for creating a new one.</p>

        <form class="form-inline" method='post' action=''>{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-danger" type='submit' value="Reset password" />
        </form>
    </div>
</div>





    </form>
{% endblock %}
