{% extends "base.html" %}
{% load humanize %}
{%load i18n%}
{%load crispy_forms_tags %}

{% block title %}{% trans "Website scanner and security, webpage check, protect www" %}{% endblock %}
{% block meta-desc %}{% trans "Online webpage scanner, checks your site security, ranking, optimalization and availability. Test www against viruses, malware and other problems." %}{% endblock %}

{% block content %}
<div class="row hero-unit">
    <div class="span4 offset2"><a href="/"> <img src="{{ STATIC_URL }}images/logo2.png" width="300px" height="36px" /></a></div>
    <div>{% trans "let us check your website" %}</div>

<form class="form-vertical" action="." method="POST" style="text-align:center; margin-top:4em;">
    {% csrf_token %}
    <input type="text" id="domain" name="url" style="width:60%; height:30px; font-size: 24px; margin-top:9px;" placeholder="{% trans 'enter your website url: http://example.org' %}" autocomplete="off" />
    <input type="submit"  value="{% trans "scan this website" %}" class="btn btn-large btn-primary" />

    <div>
        <label class="checkbox inline"><input type="checkbox" name="check_seo" value="True" checked="checked" />S.E.O.</label>
        <label class="checkbox inline"><input type="checkbox" name="check_security" value="True" checked="checked" >Security</label>
        <label class="checkbox inline"><input type="checkbox" name="check_performance" value="True" checked="checked" >Performance</label>
        <label class="checkbox inline"><input type="checkbox" name="check_mail" value="True" checked="checked">E-mail</label>
    </div>

    {% if form.errors %}
    <br/>
    <div class='alert alert-block alert-error'>
        {{ form.url.errors }}
        {{ form.non_field_errors }}
    </div>
    {% endif %}
</form>
</div>

<div class="section">
    <h1>{% trans '<b>Website scanner</b>'%}</h1>
    <div class="row-fluid">
        <div class="row">
            <div class="span3">
                <h2><b>{% trans "Welcome" %}</b></h2>
                {% blocktrans %}
                <p>This tool allows you to <strong>check your website against</strong> many known problems like <b>misconfiguration or malware</b> (and many more). Just enter your website address in the form above and let us check your site!</p>
                {% endblocktrans %}
                <p>Learn more <a href="{% url scanner_about %}">about us</a>  or <a href="{% url contact %}">get in touch</a>.</p>
            </div>
            <div class="span3">
                <h2>{% trans "Try it for free!" %}</h2>
                {% blocktrans %}
                <p>We believe that information should be free - we allow everybody to test our scanner for free (even for commercial use).</p>{% endblocktrans %}
                <p>Once you found our tools usefull there will be a per report rate. We have elastic test packages - they will fit your needs.</p>
            </div>
            <div class="span3">
                <h2>{% trans "Lots of tests" %}</h2>
                {% blocktrans %}
                <p>Our tests database was created in response to requests from our customers. We make every
                effort to cover all aspects of webpages problems (XSS, sql injecton) or misconfigurations
                (too big pagesize or not optimal css or images). As webpages are more and more complex, there are lots
                of different technologies. We keep our technology updated - for you!</p>{% endblocktrans %}
            </div>
            <div class="span3">
                <h2>{% trans "Lightning fast" %}</h2>
                {% blocktrans %}
                <p>We understand that your time is valuable! We use Bleeding-Edge-Cloud technology to provide you with the results as fast as possible.
                You get your results immediately on your PC. You do not have to wait untill all the tests are completed.</p>{% endblocktrans %}
            </div>
        </div>
    </div>
</div>


<div class="section">{% blocktrans %}
    <h1><b>Example website scan reports</b></h1>
    <p>For your convenience we provide sample reports generated by <a href="https://webcheck.me">webcheck the website scanner</a> for the top 3 webpages acording to Alexa. </p>
    {% endblocktrans %}
    <div class="row-fluid">
        <div class="row">
            <div class="span4" itemscope itemtype="http://schema.org/Review" >
                <h2><a href="https://webcheck.me/reports/2ba5b5d2-5b08-11e2-a59b-00163e72943f/" itemprop="name">facebook.com</a> </h2>
                <h3>rating: <span id="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" >
                    <meta itemprop="worstRating" content = "0">
                    <span itemprop="ratingValue">8.9</span>/<span itemprop="bestRating">10</span>
                </span></h3>
                 <img itemprop="image" class="img-polaroid" src="{{ STATIC_URL }}images/example_facebook.png" width="250px" height="150px" />
            </div>

            <div class="span4" itemscope itemtype="http://schema.org/Review" >
                <h2><a href="https://webcheck.me/reports/fd10aff4-5b0e-11e2-9708-00163e72943f/" itemprop="name">google.com</a> </h2>
                <h3>rating: <span id="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" >
                    <meta itemprop="worstRating" content = "0">
                    <span itemprop="ratingValue">9.2</span>/<span itemprop="bestRating">10</span>
                </span></h3>
                 <img itemprop="image" class="img-polaroid" src="{{ STATIC_URL }}images/example_google.png" width="250px" height="150px" />
            </div>

            <div class="span4" itemscope itemtype="http://schema.org/Review" >
                <h2><a href="https://webcheck.me/reports/67ee3f58-5b0f-11e2-b17b-00163e72943f/" itemprop="name">youtube.com</a> </h2>
                <h3>rating: <span id="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" >
                    <meta itemprop="worstRating" content = "0">
                    <span itemprop="ratingValue">8.1</span>/<span itemprop="bestRating">10</span>
                </span></h3>
                 <img itemprop="image" class="img-polaroid" src="{{ STATIC_URL }}images/example_youtube.png" width="250px" height="150px" />
            </div>

        </div>
    </div>
</div>



<div class="section">
    <h1>{% trans "Our checks" %}</h1>
    <div class="row-fluid">
        <div class="row">
            <div class="span4">
                <h2>{% trans "Compatibility" %} <img alt="" class="align-right" src="{{ STATIC_URL }}images/services/webdesign.png" /></h2>
                {% blocktrans %}
                <p>The world of webbrowsers is huge and everchanging. There is Mozilla Firefox, Google Chrome, Internet Explorer, Opera, Safari and many others. Wait - there are different versions of them!</p>
                <p><b>Webcheck.me</b> allows you to check how your page behaves in different enviroments, by providing full-size <b>website snapshots</b>.</p> {% endblocktrans %}
            </div>
            <div class="span4">
                <h2>{% trans "Performance" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/webdevelopment.png" /></h2>
                {% blocktrans %}
                <p>We measure how fast your webpage performs, then give it a note. You will know what should be changed to make it faster. Maybe your page size is too big? Maybe loadtime is too long as well? Let us check it!</p>
                <p>Our algorithms will suggest you what can be easily <b>minimalized</b> - images, css styles and html.  </p> {% endblocktrans %}
            </div>
            <div class="span4">
                <h2>{% trans "Security" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/seo-services.png" /></h2>
                {% blocktrans %}
                <p>Security problems lead to a decrease in your brand's value. React fast on any malware, viruses or hackers attack before they affect your customers. Webcheck.me is a perfect tool to monitor and check your website systematically.</p>
                <p>We provide <b>malware check</b>, scan your website against <b>viruses</b>, look for <b>XSS</b> holes and <b>SQL injections</b>.  </p> {% endblocktrans %}
            </div>
        </div>
        <div class="row">
            <div class="span4">
                    <h2>{% trans "SEO" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/print-design.png" /></h2>
                    {% blocktrans %}
                    <p>We understand how important it is for your business to be easily found by search engines (like google or yahoo). This probably has direct connection to your profits.</p>
                    <p><b>webcheck.me</b> checks parameters that influence your position in google search. We want to help your customers to reach you! </p> {% endblocktrans %}
            </div>
            <div class="span4">
                    <h2>{% trans "Cloud-based" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/logo-design-and-branding.png" /></h2>
                    {% blocktrans %}
                    <p>All of our services are cloud-based. There is <b>no need to install</b> anything on your computer. You can reach it from any place in the world!</p>

                    <p>Our distributed free website scanner gives you top performance with highest availability. <b>Webcheck.me</b> was created to be a handy tool. </p> {% endblocktrans %}
            </div>
            <div class="span4">
                    <h2>{% trans "E-mail" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/newsletter.png" /></h2>
                    {% blocktrans %}
                    <p>This monitoring tool checks not only websites but also other aspects of communication. <b>Webcheck.me</b> cares about e-mails too - checks availability of your mailservers, their compliance with standards and  if they are listed or not on any <b>blacklists (RBL)</b></p> {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
            $("#domain").focus();
    });
</script>
{% endblock %}
