

{% extends 'base.html' %}
{% load humanize %}
{% load l10n %}
{% load i18n %}
{% load infinite_pagination %}

{% block title %}{% trans "Scan archive" %}{% endblock %}

{% block content %}

<div class="section">
    {% autopaginate tests per_page=30 as ptests %}
    <h1>{% trans "Scan archive" %}</h1>
    <p>{% trans "Here you can find your old scans done for you." %}</p>
    <div class="row-fluid">
        {% if tests %}
        <div class="span6">
            <div class="container">
                <table class="table table-striped " style="width:auto;">
                    <thead>
                        <tr>
                            <th>{% trans "url" %}</th>
                            <th>{% trans "score" %}</th>
                            <th>{% trans "date" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for test in ptests %}
                        <tr>
                            <td><a href="{% url scanner_report test.uuid %} ">{{ test.url }}</a></td>
                            <td>{{ test.calculate_rating }}</td>
                            <td>{{ test.creation_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <p class="muted">{% trans "We keep the right to remove oldest archive scans. If you would need the archive reports in the future, please save the pdf versions on your disk." %}</p>
    {% paginate %}
</div>


{% endblock content %}

