html {

    height: 100%;
}

body {
/*     color: #3B3B3B; */
    background: url(/static/images/bg.png) left top repeat ;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    padding-top: 50px;
    height: 90%;
}



.row {
    margin-bottom: 30px;
}

div.section {
    margin-bottom: 2em;
    margin-top: 2em;
}

div.section h1 {
    margin-bottom: 0.8em;
}

table.results {
    width: 100%;
    vertical-align: top;
    table-layout:fixed;
    border-collapse:separate;
    border-spacing:0px 3px;

}



table.results td {
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}



table.results tr td.output_desc {
    width: 150px;
}

table.results td.output_full {
/*     width: 450px; */
}

table.results td.status {
    width: 30px;
    text-align: center;
}

tr td.status {
    font-size: 22px;
}

tr.status_warning td.status {
    color: #f89406;
}

tr.status_error td.status {
    color: red;
    font-size: 26px;
}

tr.status_ok td.status {
    color: #468847;
}

tr.status_info td.status {
    color: #3a87ad;
}




code {
    background-color: #EFEBEC;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    font-size: 12px;
    margin: 10px 0;
    padding: 10px;
    display: block;
}

#maincontent {
    min-height: 90%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

#footer {
    text-align:right;
    margin-right:7%;
    margin-bottom:0.5em;
    clear: both;
}
