{%load i18n%}
{%load set %}
{% set "https://webcheck.me" as link %}
{% url payments_payments as payments_query %}
{% url scanner_pricing as pricing_query %}
{% blocktrans with user=user link=link payments_query=payments_query pricing_query=pricing_query %}

Dear {{user}},

Thank you for taking the time to evaluate webcheck.me.  I will be your initial contact and would be happy to answer any questions.  We want you to have a successful trial so please don't hesitate to reach out should you have any problems navigating the application or getting set up.

A few questions regarding your Webcheck.me Review:

- What performance issues or general webpage scenario brought you to webcheck?
- How many websites you want to test ?
- What determines a successful trial for you?

I can help you take advantage of some of our special offers if you are thinking of licensing your current environment.  We appreciate your consideration of webcheck!

Thanks,



Need a little help? Have questions?

    We've got a really excellent support site that has tons of answers.
    We also have one of the best support crews in the game that is happy to help.

Sincerely,
webcheck.me Team
{% endblocktrans %}
