{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "[404] Not found" %}{% endblock %}

{% block content %}

{% blocktrans %}
<h1>Error <b>404</b></h1>
<h2>There is no such address like:  {{ request_path }}</h2>
<p>But this may help you:</p>
<ul>
<li>Please check if you have correctly typed website address;</li>
<li>Use <a href="http://google.com">google.com</a> to find content you were looking for;</li>
<li>Visit our <a href="http://webcheck.me">main page</a>;</li>
<li><a href = "javascript:history.back()">Move back in time </a> and be more carefull for next time :)</li>
</ul>
{% endblocktrans %}

<script type="text/javascript">
  var GOOG_FIXURL_LANG = 'en';
  var GOOG_FIXURL_SITE = 'http://webcheck.me'
</script>
<script type="text/javascript"
  src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
</script>

{% endblock %}

