{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About webcheck.me" %}{% endblock %}
{% block meta-desc %}{% trans "History of web check software, about the website scanner Team and our mission to fix as many websites as we can. " %}{% endblock %}


{% block content %}
<div class="section">
    <h1>{% trans "webcheck.me - The Website Scanner" %}</h1>

    <div class="row">
        <div class="span6">
            <h2>{% trans "History" %}</h2>
            {% blocktrans %}Webcheck.me has been started in a very begining of 2012 as a project-branch at <a href="http://whitehats.pl">whitehats.pl</a>. It was like scratching our own itch - we needed a tool to tests our products. When it was ready we realized that it's so brilliant idea that we should share it with the World - so we are!{% endblocktrans %}
        </div>

        <div class="span6">
            <h2>{% trans "Mission" %}</h2>
            {% trans "We aim to help fixing world wide web! As today's WEB has many technologies behind (in its backbone) it is very hard to check every part. Webcheck.me is a comprehensive tool to easily scan websites for common bugs and problems. We believe that this will help any webmaster do her/his everyday job." %}
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2>{% trans "Team" %}</h2>
            {% trans 'Webcheck.me team is part of the <a href="http://whitehats.pl">whitehats.pl</a> company - fanatics that develop cutting-edge tools and solutions.' %}
        </div>

        <div class="span4">
            <h2>{% trans "Webcheck.me engine" %}</h2>
            {% trans "These are the best people who make our software so extraordinary. Most of us passionate about python, some others are linux administrators. Thanks to merging both those talents we have webcheck!" %}</a>
        </div>

        <div class="span4">
            <h2>{% trans "Get in touch!" %}</h2>
            {% url contact as url_contact %}
            {% blocktrans %}We are waiting for your feedback! Use a <a href="{{ url_contact }}">form</a> to inform us about suggestions and problems.{% endblocktrans %}
        </div>
    </div>

</div>

{% endblock %}






