{% load i18n %}<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
    <title>{% block title %}{% endblock %} {% trans "&laquo; webcheck.me - test a website!" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>

    <meta name="description" content="webcheck.me {% block meta-desc %}Free online website scanner. Tests security, SEO, mail problems and sugest solutions.. {% endblock %}" />
    <meta name="keywords" content="webcheck, {% block meta-keywords %}free, online, security, www, webpage, internet page, seo, mail, http code, antivirus, malware check, loadtime, page size, sql injecton, xss atack, screenshots, website snapshot, css optimize, image optimize, spf check, website spellcheck, robots.txt, http compression, website blacklists, plain-text emails, webpage validiation, pagerank, http compresion, webpage spellcheck  {% endblock %}" />
    <meta name="author" content="whitehats.pl Team" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="1 day" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script src="{{ STATIC_URL }}js/bootstrap-mix.min.js"></script>
    {% comment %}
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    {% endcomment %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

{% if not debug %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29131705-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    </script>
{% endif %}
    {% block extrahead %} {% endblock %}
</head>
<body>
<noscript>
    <div id='no-javascript' class="alert alert-error">
    You have no javascript enabled.

    Please turn it on to get better user experience.
    </div>
</noscript>


<div class="navbar navbar-static-top navbar-inverse" role="banner">
    <div class="navbar-inner">
{% if user.is_authenticated %}
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> {{ user.email }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url auth_password_change %}">{% trans "Change password" %}</a></li>
                <li><a href="{% url auth_logout %}?next={{request.path}}">{% trans "Logout" %}</a></li>
            </ul>
        </div>

        <div class="pull-right">
            <ul class="nav">
                <li><a id="menu_payments" href="{% url payments_payments %}" >{% trans "Credits" %} <span class="badge badge-info"> {{ user.get_profile.credits }}</span> </a></li>
                <li><a href="{% url scanner_scan_archive %}">{% trans "Scan archive" %}</a></li>
            </ul>
        </div>
{% else %}
        <div class="btn-group pull-right">
            <a class="btn" href="{% url registration_register %}"><i class="icon-plus"></i> {% trans "Register" %}</a>
            <a class="btn" data-toggle="modal" href="#modal_login" ><i class="icon-user"></i> {% trans "Login" %}</a>
        </div>
{% endif %}
        <ul class="nav" role="navigation">
            <li><a href="{% url scanner_index %}"> <img src="{{ STATIC_URL }}images/logo.png" style="height:20px" /></a></li>
            <li><a href="{% url scanner_index %}">{% trans "Home" %}</a></li>
            <li><a href="{% url scanner_about %}">{% trans "About" %}</a></li>
            <!--<li><a href="{% url scanner_pricing %}">{% trans "Features" %}</a></li>-->
            <li><a href="{% url scanner_terms %}">{% trans "Terms" %}</a></li>
            <li><a href="{% url contact %}">{% trans "Contact" %}</a></li>
        </ul>
    </div>
</div>

{% if not user.is_authenticated %}
<div class="modal fade" id="modal_login" role="form">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Login <i class="icon-user"></i></h3>
    </div>
    <div class="modal-body">
        {% include "forms/login.html" with inline=1 form_id="form_modal_login"%}
    </div>
    <div class="modal-footer">
        <a href="#" id="form_modal_submit" class="btn btn-primary">{% trans "Login" %}</a>&nbsp;
        <a href="#" class="btn close"  data-dismiss="modal" >{% trans "Cancel" %}</a>
    </div>
</div>
<script type="text/javascript">
$('#form_modal_submit').click(function() {
  $('#form_modal_login').submit();
});
</script>
{% endif %}

    <div class="container" id="maincontent" role="main">

        {% if messages %}
            <div class="row" role="alert">
                <div class="span8 offset2">
                    {% for message in messages %}
                        <div class="alert alert-block {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}



        {% block content %}
        <h2>{% trans "Something went wrong! Please contact with administrator." %}</h2>
        {% endblock %}

        <hr />

        <div class='pull-right muted' role="contentinfo">
            {% trans 'Copyright 2012 <a href="http://whitehats.pl" >whitehats.pl</a>' %}
        </div>

    </div>


{% if not debug %}
    <script type="text/javascript">
        _s1='https://s3-eu-west-1.amazonaws.com/app.sugester.pl/webcheck/widget_ssl';
        document.write('<script src=\''+_s1+'.js\' type=\'text/javascript\'><\/script>')
    </script>
{% endif %}


</body>
</html>
