{% extends "base.html" %}
{% load humanize %}

{% block title %}Free scan your website{% endblock %}

{% block extrahead %} 

{% endblock %}




{% block content %}

    <!-- main -->
    <section id="main">

        <div class="intro-box">
           <h1>Welcome.</h1>

           <p class="intro">This tool allows you to <b>check your website against</b> many known problems like <b>misconfiguration or malware</b> (and many more). Just enter your website address in the form below and let us check your site!</p>

           <p class="intro">Learn more <a href="#about-us">about us</a>  or <a href="#contact">get in touch</a>.</p>

        </div>

        <div class="slider-wrapper">
            <div id="slider" class="nivoSlider">
            <img src="{{ STATIC_URL }}images/slides/slide1.png" width="383" height="198" alt="" title="#htmlcaption2" />
            <img src="{{ STATIC_URL }}images/slides/slide2.png" width="383" height="198" alt="" />
            <img src="{{ STATIC_URL }}images/slides/slide3.png" width="383" height="198" alt="" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption"> Turn your visitors into <strong>satisfated</strong> customers.</div>
            <div id="htmlcaption2" class="nivo-html-caption"> Just enter your website address below.</div>
        </div>

        <div class="row no-bottom-margin">
        </div>

      </section>
      
      <!-- scan -->
      <section id="webscanner" style="padding-top:35px;" >
            <h1>Scan your site!</h1> <br />
            <div class="row">
                <form id="addtestform" action="{% url scanner.views.results %}" method="POST" style="width:100%">
                    {% csrf_token %}
                    <input type="text" id="domain" name="url" style="width:90%;" title="http://example.org" value="" autocomplete = "off" >
                    <input type="submit"  value="Scan" class="button">
                </form>
            </div>

            <div class="row">
                <section class="col">
                    <h2>It's Free!</h2>
                    <p>We belive that information should be free - we allow everybody to use our scanner for free (even for commercial use).</p>
                    <p>Altrought there are additional options avalible for pro members.</p>
                </section>
                <section class="col mid">
                    <h2>Lots of tests</h2>
                    <p>Our tests database was created as a response for requests from our customers. We put huge
                    effort to cover all aspect of webpages problems (XSS, sql injecton) or misconfigurations
                    (too big pagesize or not optimal css or images). As webpages are more and more complex, there are lots
                    of different technologies. We keep our technology updated - for you!</p>
                </section>

                <section class="col">
                    <h2>Lightning fast</h2>
                    <p>We understand that your time is valuable! We use Bleeding-Edge-Cloud technology to provide the results to you as fast as possible.
                    You get your results immediately on your PC. You don't have to wait untill all the tests are done.</p>
                    <p>In the nearest future there will be an option for pro members to send reports by e-mail. You will save more of your precious time!</p>
                </section>
            </div>
            <a class="back-to-top" href="#main">Back to Top</a>
      </section>
      
      
      <!-- services -->
      <section id="services" >
             <h1>Our checks.</h1>
             <div class="row no-bottom-margin">
                <section class="col">
                    <h2>Compatibility</h2>
                    <p><img class="align-left" alt="" src="{{ STATIC_URL }}images/services/webdesign.png" />World of webbrowsers is huge and changing all the time. There is Mozilla Firefox, Google Chrome, Internet Explorer, Opera, Safari and many others. Wait - there are different versions of them!</p>
                    <p><b>webcheck.me</b> allows you to check how your page behave in different enviroments, by providing full-size <b>website snapshots</b>.</p>
                </section>
                <section class="col mid">
                    <h2>Performance</h2>
                    <p><img class="align-left" alt="" src="{{ STATIC_URL }}images/services/webdevelopment.png" />We measure how fast does perform your webpage, then give it a note. You will know what should be changed to make it faster. Maybe your page size is too big? Maybe loadtime is too long aswell? Let us check it!</p>
                    <p>Our algorithms will sugest you what can be losslessly <b>minimalized</b> - images, css styles and html.  </p>
                </section>
                <section class="col">
                    <h2>Security</h2>
                    <p><img class="align-left" alt="" src="{{ STATIC_URL }}images/services/seo-services.png" />Security problems lead to decrease your brand value. React fast on any malware, viruses or hackers attack before they hit your customers. webcheck.me is a perfect tool to monitor and check systematically your website.</p>
                    <p>We provide <b>malware check</b>, scan your website against <b>viruses</b>, look for <b>XSS</b> holes and <b>SQL injections</b>.  </p>
                </section>
            </div>

            <div class="row">
                <section class="col">
                    <h2>SEO</h2>
                    <p><img class="align-left" alt="" src="{{ STATIC_URL }}images/services/print-design.png" />We understand how important for your business is to be easly found by search engines (like google or yahoo). This probably have direct connection with your profits.</p>
                    <p><b>webcheck.me</b> checks parameters that have influence on your position in google search. We want to help your customers to reach you! </p>
                </section>
                <section class="col mid">
                    <h2>Cloud-based</h2>

                    <p><img class="align-left" alt="" src="{{ STATIC_URL }}images/services/logo-design-and-branding.png" />All of our services are cloud-based. There is <b>no need to install</b> anything on your computer. You can reach it from any place in the world!</p>
                    
                    <p>Our distributed free website scanner gives you highest performance connected with high availability. <b>webcheck.me</b> was created to be a handy tool. </p>
                </section>

                <section class="col">
                    <h2>E-mail</h2>
                    <p><img class="align-left" alt="" src="{{ STATIC_URL }}images/services/newsletter.png" />This monitoring tool checks not only websites but also other aspects of electronical commounication. <b>webcheck.me</b> cares about e-mails too - checks availability of your mailservers, their compliance with standards and  if they are listed or not on any <b>blacklists (RBL)</b></p>
                    <p></p>
                    </section>
            </div>

            <a class="back-to-top" href="#main">Back to Top</a>
      </section>

      <!-- portfolio -->
      <!--      <section id="portfolio">

            <h1>They trusted us.</h1>

            <ul class="folio-list clearfix">

                <li class="folio-thumb">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/milk.jpg" title="Milk Splashes" ><img src="images/thumbs/milk.jpg" alt="" /> </a>
                    </div>
                    <h3 class="entry-title">Milk Splashes</h3>
                </li>

                <li class="folio-thumb last">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/hexagon.jpg" title="Hexagon Bokeh"><img src="images/thumbs/hexagon.jpg" alt="" /> </a>
                    </div>
                    <h3 class="entry-title">Hexagon Bokeh</h3>
                </li>

                <li class="folio-thumb">
                    <div class="thumb">
                        <a class="lightbox-video" href="http://www.youtube.com/watch?v=EPXwP8D5C5c&feature=player_embedded"><img src="images/thumbs/hillsong-united-aftermath.jpg" alt="" /></a>
                    </div>
                    <h3 class="entry-title">Aftermath (Sample Video)</h3>
                </li>
                <li class="folio-thumb">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/dandelion.jpg" title="Dandelion" ><img src="images/thumbs/dandelion.jpg" alt="" /> </a>
                    </div>
                    <h3 class="entry-title">Dandelion</h3>
                </li>

                <li class="folio-thumb">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/eiffel.jpg" title="Eiffel Tower"><img src="images/thumbs/eiffel.jpg" alt="" /> </a>
                    </div>
                    <h3 class="entry-title">Eiffel Tower</h3>
                </li>

                 <li class="folio-thumb last">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/clouds-and-rainbow.jpg" title="Clouds &amp; Rainbow"><img src="images/thumbs/clouds-and-rainbow.jpg" alt="" /> </a>
                    </div>
                    <h3 class="entry-title">Clouds &amp; Rainbow</h3>
                </li>

                <li class="folio-thumb">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/landscape.jpg" title="Rural Landscape"><img src="images/thumbs/landscape.jpg" alt=""  /> </a>
                    </div>
                    <h3 class="entry-title">Rural Landscape</h3>
                </li>

                <li class="folio-thumb">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/sneakers.jpg" title="Cosmic Sneakers"><img src="images/thumbs/sneakers.jpg" alt="" /> </a>
                    </div>
                    <h3 class="entry-title">Cosmic Sneakers</h3>
                </li>

                 <li class="folio-thumb last">
                    <div class="thumb">
                    <a class="lightbox" href="{{ STATIC_URL }}images/thumbs/big/vector-flower-fullscreen.jpg" title="Abstract Vectors"><img src="images/thumbs/vector-flower-fullscreen.jpg" alt="" /> </a>
                    </div>
                    <h3 class="entry-title">Abstract Vector</h3>
                </li>

            </ul>

            <a class="back-to-top" href="#main">Back to Top</a>

      </section>-->

      <!-- about us -->
  <!--    <section id="about-us" class="clearfix">

            <h1>About us.</h1>

            <div class="primary">

                <p class="intro">Maecenas eu neque erat, auctor feugiat enim. Sed libero risus, pretium vel
                elementum id, lacinia vel purus. Mauris semper, orci vitae aliquam vestibul,
                lorem nulla auctor nulla, gravida fermentum urna libero eget sapien. Quisque
                cursus, urna quis vestibulum egestas, nibh sem semper erat, a feugiat justo
                dolor eget libero. Quisque cursus, urna quis vestibulum egestas, nibh sem
                semper erat, a feugiat justo dolor eget libero
                </p>

                <h2>Template License</h2>

                <p>This work is released and licensed under the <a href="http://creativecommons.org/licenses/by/2.5/" rel="license">
                Creative Commons Attribution 3.0 License</a>, which means that you are free to use and modify it for any
                personal or commercial purpose. All I ask is that you give me credit by including a link back to my
                <a href="http://www.styleshout.com">website</a></p>

                <div class="row no-bottom-margin">

                    <section class="col first">

                        <h2>Our Process</h2>

                        <p>Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
                        acus duis in dictumst non integer! Elit, sed scelerisque odio tortor, sed platea dis? Quis
                        cursus parturient ac amet odio in? Nunc Amet urna scelerisque eu lectus placerat.</p>

                    </section>

                    <section class="col">

                        <h2>Our Approach</h2>

                        <p>Pellentesque magna mi, iaculis pharetra eu, fermentum ullamcorper nisi.
                        Integer fringilla magna ut quam vulputate erat. Pulvinar cum, ac eu augue ut sit amet
                        gravida lacinia, eros massa condimentum sem, a fermentum ligula lorem non.
                        Phasellus vulputate.</p>

                    </section>

                </div>

                <h2>Our Team</h2>

                <ul class="the-team">
                    <li class="odd">
                        <div class="thumbnail">
                        <a href="#"><img alt="thumbnail" src="{{ STATIC_URL }}images/thumb-pic.png" width="83" height="78"></a>
                        </div>
                        <p class="mname"><a href="#">Erwin Aligam</a></p>
                        <p>Co-founder &amp; Creative Director</p>
                    </li>
                    <li>
                        <div class="thumbnail">
                        <a href="#"><img alt="thumbnail" src="{{ STATIC_URL }}images/thumb-pic.png" width="83" height="78"></a>
                        </div>
                        <p class="mname"><a href="#">Uzumaki Naruto</a></p>
                        <p>Senior Webdesigner</p>
                    </li>
                    <li class="odd">
                        <div class="thumbnail">
                        <a href="#"><img alt="thumbnail" src="{{ STATIC_URL }}images/thumb-pic.png" width="83" height="78"></a>
                        </div>
                        <p class="mname"><a href="#">Haruno Sakura</a></p>
                        <p>Graphic Designer</p>
                    </li>
                    <li>
                        <div class="thumbnail">
                        <a href="#"><img alt="thumbnail" src="{{ STATIC_URL }}images/thumb-pic.png" width="83" height="78"></a>
                        </div>
                        <p class="mname"><a href="#">Uchiha Sasuke</a></p>
                        <p>Web Developer</p>
                    </li>
                </ul>

            </div>

            <aside>

                    <h2>More about us</h2>

                    <p>Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
                    acus duis in dictumst non integer! Elit, sed scelerisque odio.</p>

                    <a href="#" class="download-btn">Download PDF</a>


                    <h2>Links</h2>


                    <ul class="link-list">
                        <li><a href="http://themeforest.net?ref=ealigam" title="Site Templates">Themeforest</a></li>
                        <li><a href="http://www.4templates.com/?go=228858961" title="Website Templates">4Templates</a></li>
                        <li><a href="http://www.dreamhost.com/r.cgi?287326|sshout" title="Webhosting">Dreamhost</a></li>
                        <li><a href="http://store.templatemonster.com?aff=ealigam" title="Web Templates">Templatemonster</a></li>
                    </ul>


                    <h2>Testimonials</h2>

                    <div class="testimonials">
                        <blockquote>
                            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                            Nullam id dolor id nibh ultricies vehicula ut id elit. </p>

                            <cite>&mdash; John Doe, XYZ Company</cite>
                        </blockquote>
                        <blockquote>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis
                            consectetur purus sit amet fermentum.</p>

                            <cite>&mdash; Jane Roe, ABC Corp</cite>
                        </blockquote>
                    </div>

            </aside>



            <a class="back-to-top" href="#main">Back to Top</a>

      </section>-->

      <!-- Styles -->
     <!-- <section id="styles" class="clearfix">

            <h1>Styles.</h1>

            <div class="primary">

                <p class="intro">Maecenas eu neque erat, auctor feugiat enim. Sed libero risus, pretium vel
                elementum id, lacinia vel purus. Mauris semper, orci vitae aliquam vestibul,
                lorem nulla auctor nulla, gravida fermentum urna libero eget sapien. Quisque
                cursus, urna quis vestibulum egestas, nibh sem semper erat, a feugiat justo
                dolor eget libero.
                </p>

                <h2>A paragraph</h2>

                <p>Maecenas eu neque erat, auctor feugiat enim. Sed libero risus, pretium vel
                elementum id, lacinia vel purus. Mauris semper, orci vitae aliquam vestibul,
                lorem nulla auctor nulla, gravida fermentum urna libero eget sapien. Quisque
                cursus, urna quis vestibulum egestas, nibh sem semper erat, a feugiat justo
                dolor eget libero. Urna quis vestibulum egestas, nibh sem
                semper erat, a feugiat justo dolor eget libero
                </p>

                <p>A <a href="#">link</a>,
				<abbr title="this really isn't a very good description">abbrebation</abbr>,
				<strong>strong text</strong>,
				<del>deleted text</del>, and
                <mark>this is a mark text.</mark>
        		</p>

                <h2>Example Lists</h2>

				<ol>
					<li>Here is an example</li>
					<li>of an ordered list</li>
				</ol>

				<ul>
					<li>Here is an example</li>
					<li>of an unordered list</li>
				</ul>

				<dl>
            	    <dt>Definition title</dt>
            	    <dd>Definition description</dd>
            	    <dt>Definition title</dt>
            	    <dd>Definition description</dd>
         	    </dl>

                <h2>Blockquote</h2>

				<blockquote>
				    <p>Every child is an artist. The challenge is to remain an artist after you grow up.</p>
				</blockquote>

                <h2>Headers</h2>

				<h1>H1 Heading</h1>
				<h2>H2 Heading</h2>
				<h3>H3 Heading</h3>

            </div>

            <aside>

                    <h2>Sidebar Heading</h2>

                    <p>Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
                    acus duis in dictumst non integer! Elit, sed scelerisque odio.</p>

                    <h2>Link List</h2>

                    <ul class="link-list">
                        <li><a href="#">Maecenas eu neque</a></li>
                        <li><a href="#">Dolor eget libero</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Gravida fermentum urna</a></li>
                    </ul>

                    <h2>Testimonials</h2>

                    <div class="testimonials">
                        <blockquote>
                            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
                            Nullam id dolor id nibh ultricies vehicula ut id elit. </p>

                            <cite>&mdash; John Doe, XYZ Company</cite>
                        </blockquote>
                        <blockquote>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis
                            consectetur purus sit amet fermentum.</p>

                            <cite>&mdash; Jane Roe, ABC Corp</cite>
                        </blockquote>
                    </div>

            </aside>

            <a class="back-to-top" href="#main">Back to Top</a>

      </section>-->

      <!-- contact -->
 <!--     <section id="contact" class="clearfix">

            <h1>Get in touch.</h1>

            <div class="primary">

                <p class="intro">
                In hac habitasse platea risus dictumst. Suspendisse enim arcu. Aliquam erat volutpat.
                Phasellus a dui nisi. Nunc nec quam vitae nisl vehicula euismod. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Sed commodo ligula blandit risus. Pellentesque magna mi,
                iaculis pharetra eu, fermentum ullamcorper nisi. Integer fringilla magna ut quam vulputate erat.
                </p>

                <form method="post" action="contact.php" id="contactform">

                    <div>
                    <p>Send me a message</p>
                    </div>

                    <div>
                    <label>Name <span class="required">*</span></label>
                    <input name="name" type="text" id="name" value="" />
                    </div>

                    <div>
                    <label>Email <span class="required">*</span></label>
                    <input name="email" type="text" id="email" value="" />
                    </div>

                    <div>
                    <label>Website</label>
                    <input name="website" type="text" id="website" value="" />
                    </div>

                    <div>
                    <label>Subject</label>
                    <input name="subject" type="text" id="subject"  value="" />
                    </div>

                    <div>
                    <label>Message <span class="required">*</span></label>
                    <textarea name="message" rows="20" cols="50"  id="message" ></textarea><br /><br />
                    </div>

                    <div>
					<input type="submit"  value="Submit" class="button">
         			<input type="reset" value="Reset" class="button">
					</div>


                </form>

            </div>

            <aside>

                    <h2>Contact Information</h2>


                    <p>Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
                    acus duis in dictumst non integer! Elit, sed scelerisque odio tortor, sed platea dis.</p>

                    
                    <p>
                    Phone: 0048 717382428 <br />
                    Email: info@webcheck.me
                    </p>


                    <h2>Follow Us</h2>

                    <ul class="link-list social">
                        <li class="facebook"><a href="#">Facebook</a></li>
                        <li class="googleplus"><a href="#">Google+</a></li>
                        <li class="twitter"><a href="#">Twitter</a></li>
                        <li class="dribble"><a href="#">Dribble</a></li>
                        <li class="linkedin"><a href="#">Linkedin</a></li>
                        <li class="delicious"><a href="#">Delicious</a></li>
                        <li class="flickr"><a href="#">Flickr</a></li>
                    </ul>

            </aside>

            <a class="back-to-top" href="#main">Back to Top</a>

     </section>-->
     
     
     <script>
 
        /* Nivo Slider */
        $(window).load(function() {

            $('#slider').nivoSlider({directionNavHide:false});

        });

        $(document).ready(function(){

            /* Fancy Box */
            $('a.lightbox').fancybox({
                'titlePosition' : 'over',
                'padding'       : 16,
                'opacity'       : true,
                'overlayShow'   : false,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'elastic'
            });
        // youtube videos with fancy box
        $('a.lightbox-video').click(function() {

                $.fancybox( {
                    'titlePosition' : 'over',
                    'padding'       : 16,
                    'opacity'       : true,
                    'overlayShow'   : false,
                    'transitionIn'  : 'elastic',
                    'transitionOut' : 'elastic',
                    'href'          : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
                    'type'          : 'swf',
                    'swf'           : {'wmode':'transparent','allowfullscreen':'true'}

                });
                    return false;
            });

            // Fade in/out on hover
            /*
            $("ul.folio-list li .thumb img").fadeTo("slow", 0.6);
            $("ul.folio-list li .thumb img").hover(function(){
                $(this).fadeTo("slow", 1.0);
            },function(){
                $(this).fadeTo("slow", 0.6);
            });
            */
        });
    </script

{% endblock %}
