{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Pricing" %}{% endblock %}

{% block content %}

{% blocktrans %}
<h1>Pricing</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget ipsum lorem, in interdum metus. Ut rhoncus nulla ac sapien molestie eget mattis lacus pharetra. Maecenas volutpat, libero vitae bibendum rutrum, metus ligula ullamcorper purus, eu suscipit quam magna vel est. Etiam non purus massa, sit amet rhoncus orci. Suspendisse potenti. Pellentesque sed mollis massa. Sed vitae nibh sed justo fringilla consectetur. Sed condimentum posuere turpis, in blandit dui porttitor id. Aliquam erat volutpat. Sed sapien velit, volutpat eget tristique tempor, egestas eget purus. Donec ornare sollicitudin orci eu placerat. Etiam lacinia nulla sed purus vehicula eget mollis purus pharetra. Vivamus ac lectus ligula, consectetur rutrum dolor. In hac habitasse platea dictumst. Sed euismod leo sed ipsum accumsan nec volutpat mauris feugiat. In condimentum ante congue augue porta blandit. </p>

<h2>Options</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Unregistred</th>
            <th>Registred</th>
            <th>PRO member (a VIP)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Website snapshots</td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
        </tr>
        <tr>
            <td>Website virus scan</td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
        </tr>

        <tr>
            <td>Security tests</td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
        </tr>

        <tr>
            <td>SEO tests</td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
            <td><i class="icon-plus"></i></td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>low</td>
            <td>medium</td>
            <td>high</td>
        </tr>

        <tr>
            <td>Unlimited scans per domain</td>
            <td><i class="icon-minus"></i></td>
            <td><i class="icon-minus"></i></td>
            <td><i class="icon-plus"></i></td>
        </tr>

        <tr>
            <td>Deep scans</td>
            <td><i class="icon-minus"></i></td>
            <td><i class="icon-minus"></i></td>
            <td><i class="icon-plus"></i></td>
        </tr>

    </tbody>
</table>


{% endblocktrans %}

{% endblock %}






