{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "VIP benefits" %}{% endblock %}

{% block content %}


<div class="section">
    <h1>{% trans "VIP benefits" %}</h1>
    <h2>{% trans "Features matrix" %}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{% trans "Unregistred" %}</th>
                <th>{% trans "Registred" %}</th>
                <th>{% trans "VIP member" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a data-content="{% trans 'We use paypal subscriptions to allow easy and secure payments. You will need a valid credit card to pay.' %}" rel="popover" href="#" data-original-title="{% trans 'pay easily and secure' %}">{% trans "Weekly cost" %}</td>
                <td>{% trans "free" %}</td>
                <td>{% trans "free" %}</td>
                <td>$3.79</td>
            </tr>

            <tr>
                <td><a data-content="{% trans 'We have developed a software that is able to do a full snapshoot of a page - without browser limiting frame.' %}" rel="popover" href="#" data-original-title="{% trans 'Full page' %}">{% trans "Website full-page snapshots" %}</a></td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
            <tr>
                <td>{% trans "Website virus scan" %}</td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>

            <tr>
                <td>{% trans "Security tests" %}</td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>

            <tr>
                <td>{% trans "SEO tests" %}</td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
            <tr>
                <td><a data-content="{% trans 'Scanning and processing at webcheck is queued. You choose the lane..' %}" rel="popover" href="#" data-original-title="{% trans 'Priority queues' %}">{% trans "Priority" %}</a></td>
                <td><i class="icon-pause icon-large"></i> {% trans "low" %}</td>
                <td><i class="icon-play icon-large"></i> {% trans "normal" %}</td>
                <td><i class="icon-forward icon-large"></i> {% trans "high" %}</td>
            </tr>
            <tr>
                <td><a data-content="{% trans "In your profile you can find 'scan archive' - subpage with historical scans, so you can check progress of your websites." %}" rel="popover" href="#" data-original-title="{% trans 'Private archive' %}">{% trans "Scan archive" %}</a></td>
                <td></td>
                <td><i class="icon-ok icon-large"></i></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>

            <tr>
                <td><a data-content="{% trans "We don't allow to scan same url too frequntly (once per month). VIP members do not have this limit!" %}" rel="popover" href="#" data-original-title="{% trans 'No limits!' %}">{% trans "Unlimited scans per website" %}</a></td>
                <td></td>
                <td></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
            <tr>
                <td><a data-content="{% trans 'We guarantee that your archive reports will be avalible at least 2 months back in history' %}" rel="popover" href="#" data-original-title="{% trans 'Long term archive' %}">{% trans "Long scan archive" %}</a></td>
                <td></td>
                <td></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
            <tr>
                <td><a data-content="{% trans 'Our website spider/crawler moves recursivly. This option means that we go one level deeper - this means that more subpages will be scanned, reports will be more accurate.' %}" rel="popover" href="#" data-original-title="{% trans 'Deeper!' %}">{% trans "Deep scans" %}</a></td>
                <td></td>
                <td></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
            <tr>
                <td>{% trans "HTTPS site scan" %}</td>
                <td></td>
                <td></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
            <tr>
                <td><a data-content="{% trans 'If your website is hosted on port different than 80 - you will need this feature to scan such site. Very usefull for test websites.' %}" rel="popover" href="#" data-original-title="{% trans '!80' %}">{% trans "Website on custom port" %}</a></td>
                <td></td>
                <td></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
            <tr>
                <td><a data-content="{% trans "To some of results will be added more informatian, ex: 'how to fix this problem' or 'hints to improve something'" %}." rel="popover" href="#" data-original-title="{% trans 'Know more' %}">{% trans "Additional hints and solutions" %}</a></td>

                <td></td>
                <td></td>
                <td><i class="icon-ok icon-large"></i></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="span4">
        <h2>{% trans "Payment Method" %}</h2>
        {% trans "Currently we offer payment via PayPal, but in near future we will add more options!" %}
    </div>

    <div class="span4">
        <h2>{% trans "Qestions?" %}</h2>
        {% trans "Please contact us using " %}<a href="{% url contact %}">{% trans "contact form" %}</a>
    </div>


    <div class="span4">
        <h2>{% trans "Start now!" %}</h2>
        <br />
        <a href="{% if user.is_authenticated %}{% url payments_payments %}{% else %}{% url registration_register %}{% endif %}" class="btn btn-large btn-inverse"> <i class="icon-star icon-white"></i> {% trans "Become a VIP" %}</a>
    </div>

</div>

<script>
$(document).ready(function() {
    $("a[rel=popover]")
        .popover({
            offset: 10
        })
        .click(function(e) {
            e.preventDefault()
        })
});
</script>

{% endblock %}






