{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Terms of service" %}{% endblock %}
{% block meta-desc %}{% trans "Legal text that defines regulations and conditions of website scanning service. Please read it carefully" %}{% endblock %}
{% block extrahead %}<meta name="robots" content="noindex, follow" />{% endblock %}

{% block content %}

<style>
body {
    counter-reset: section;
}
dd {
    color: #6298DB;
    counter-reset: subsection;
    font-size: 24px;
    margin: 7px 0;
}

dt {
    counter-reset: subsubsection;
    margin: 3px;
    margin-left:2em;
}

dk {
    display: block;
    margin: 3px;
    margin-left:4em;
}

dd:before {
    content: counter(section, decimal) ". ";
    counter-increment: section;
}
dt:before {
    content: counter(section, decimal) "." counter(subsection, decimal) " ";
    counter-increment: subsection;
}
dk:before {
    content: counter(section, decimal) "." counter(subsection, decimal) "." counter(subsubsection, decimal) " ";
    counter-increment: subsubsection;
}
</style>

{% blocktrans %}
<div class="section">
<h1>Webcheck.me Service Regulations</h1>

<dd>General provisions</dd>
<dt>These Regulations define the conditions of the provision of webcheck.me service by
the Provider which is WHITE HATS Marek Hobler with its office in Wrocław,
Poland, address: ul. Podwale 36A/17, Wrocław, Poland, hereinafter referred to
as the Provider.

The terms used in the Regulations mean:</dt>

<dk>"Customer" – a person using the subscription bound with the Provider by means of the contract for the provision of webcheck.me service;</dk>

<dk>"package" – a group of rules available to define which constitute webcheck.me service rendered by the Provider for the Subscriber at certain price and under certain conditions;</dk>

<dk>"webcheck.me system" – the Provider’s technology by means of which he renders webcheck.me service which includes software and computer infrastructure belonging to the Provider of the service. webcheck.me system comprises monitoring center monitoring stations, graphic interface, reporting system and notifying system;</dk>

<dk>"webcheck.me service" – the service of monitoring internet services and applications rendered through the Internet by means of webcheck.me service;</dk>

<br />
<dt>webcheck.me service requires having a device connected to the Internet, with a web browser;</dt>

<dt>In order to ensure proper operation of the Services it is necessary to install one of the following browsers: Internet Explorer, Firefox, Opera, Chrome, Safari, with a recommendation that they are the latest stable versions of these browsers.</dt>

<dt>Customer has the right to rescind the contract without giving a reason within 10 days from the date on which the contract was concluded, by submitting an appropriate declaration in writing.</dt>

<dt>The provider reserves the right to change the Regulations. The changes start being valid from the moment of publication of the new version of the Regulations on the website: WWW <a href="https://webcheck.me">https://webcheck.me</a>. In case of the change in Regulations, Customer has the right to rescind the contract under the condition that he sends written declaration within 14 days from the date on which the new version of the Regulations was published, in according to the rules specified in the section " Complaint proceedings" of these Regulations.</dt>

<dd>Personal data protection</dd>

    <dt>From the moment of registration and activation of the profile the User gives consent to process his e-mail address and other personal details given in order to register for the purposes specified in the preceding and the information section; in particular the User gives consent to receive reports or information from the Provider or other subjects (with the knowledge and explicit acceptance of the Provider) and information considering products or services of the Provider as well as other subjects (with the knowledge and explicit acceptance of the Provider).</dt>
    <dt>The User has the right to inspect his personal data and to correct it.</dt>

<dd>The obligation to comply with the law</dd>
    <dt>If the Provider obtains information that the Customer uses webcheck.me service against the provisions of the law, the Provider has the right to deprive the Customer of the access to webcheck.me service and process his personal data in order to establish his responsibility as well as to pass the data to appropriate public authorities.</dt>

<dd>Concluding a contract and activating webcheck.me service</dd>

    <dt>webcheck.me service shall be ordered through registration on the website: <a href="http://webcheck.me">webcheck.me</a>, then  making payment of the amount of the package.</dt>

    <dt>Concluding a contract for webcheck.me service is possible by means of the contract form in administrator’s panel.</dt>

    <dt>Upon conclusion of the contract the person becomes Customer.</dt>

    <dt>The contract may be concluded for the specified period of time.</dt>

    <dt>The contract for the specified period of time is concluded for the period of a month from the date on which the service was activated.</dt>

    <dt>After a period of time for which the contract was valid, the contract is automatically renewed for the indefinite period, unless the Customer declares in written form at least a month before the end of period of the duration of the contract ( the date of the postmark shall be decisive) under pain of nullity.</dt>

    <dt>The date of termination of the contract shall be the date after which new subscription fee shall be paid. In case of a lack of booked payment on the bank account to the time of the termination of the previous subscription, the contract shall be considered terminated.</dt>

    <dt>Activation of the service happens after Customer enters the activation link.</dt>

<dd>Payments</dd>

    <dt>The amount of the payments is enclosed in the list of packages available.</dt>

    <dt>The payment shall be made in advance for period and the type of the package chosen by the Customer.</dt>

    <dt>We do not accept refunds.</dt>

<dd>Invoices for webcheck.me service</dd>

    <dt>The Subscriber receives an invoice at request choosing appropriate option in the settings of the service or sending e-mail to the address <span class="coderedirection">em.kcehcbew@troppus</span>.</dt>

    <dt>The day of making payment shall be the day on which the fee is noted on the Provider’s bank account.</dt>

<dd>Obligations and responsibility of the Customer</dd>

    <dt>The Customer shall be obliged to inform the Provider about all the changes that may influence the performance of the Contract.</dt>

    <dt>The Customer is obliged to give true personal details in the process of ordering the service.</dt>

    <dt>The Customer is obliged to make payments on time.</dt>

    <dt>The Customer bears entire responsibility for using webcheck.me service rendered by the Provider. </dt>

    <dt>The Customer agrees to use the service in a manner compatible with the rights of third-parties (personal rights, copyrights), morals or laws.</dt>

    <dt>The Provider has the right to cease rendering the service immediately or terminate the contract with the Customer without the right to obtain the repayment of the unused subscription fee, if:</dt>

        <dk>the Customer breaches the provisions of the contract.</dk>
        <dk>the Customer uses webcheck.me service against its purpose and certain parameters.</dk>
        <dk>the Customer acts to the detriment of other Customers of the Provider or the users of the Internet.</dk>

<dd>Obligations and responsibility of the Provider</dd>

    <dt>The Provider obliges himself to activate webcheck.me service in accordance with the contract.</dt>

    <dt>The Provider is obliged to render webcheck.me service in a full range with due dilligence. The Provider does not bear responsibility for failure to configure or inappropriate configuring the service.</dt>

    <dt>The Provider reserves the right to possibly short service breaks in rendering the service due to servicing and maintenance of the system as well as implementing new functionalities.</dt>

    <dt>The Provider is not responsible for possible damages that may occur as a result of:</dt>
        <dk>lack of continuity in rendering services being a result of an action or negligence of third parties,</dk>
        <dk>data loss as a result from technical failures, force majeure or natural disasters,</dk>
        <dk>natural disasters, inappropriate use of the service, using information passed to the Customer authorizing access to the service by third parties, infringing the provisions of the contract by the Customer.</dk>


<dd>Complaint proceedings</dd>

    <dt>The complaint of the Customer due to non-performance or inappropriate performance of webcheck.me services shall be filed with the Provider in written form to the correspondence address. The complaint shall specify:</dt>

        <dk>Subscriber’s personal details enabling the contact and identification of the Subscriber,</dk>
        <dk>type of service pertaining to the complaint,</dk>
        <dk>Subscriber’s complaints,</dk>
        <dk>circumstances justifying the complaint,</dk>
        <dk>potential demanded way of removing the alleged infringement.</dk>

<dd>Final provisions</dd>

    <dt>The governing law for this Contract between the Subscriber and the Provider shall be the Polish law.</dt>
    <dt>The Provider reserves the right to terminate the contract with immediate effect in case the Customer breaches the provisions of the Regulations or the contract.</dt>

    <dt>The Regulations come into force on 1st January 2013.</dt>

</div>
{% endblocktrans %}

{% endblock %}



