{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load spurl %}

{% block content %}
<div class="row">
    <div class="span8 offset2 alert alert-error">
        <h4>You are not able to see results for {{url}} without logging</h4>
        <h4>Please Login or enter your email</h4>
    </div>
</div>
<div class="row">
    <div class="span6">
        {% include "forms/login.html" with inline=True %}
    </div>
    <div class="span6">
        <form class='well form-horizontal' action="{% spurl base=request.path add_query_from=request.get_full_path %}" method='post'>
            <h2>{% trans "Get results by email" %} <i class='icon-envelope-alt'></i>*</h2>
            {% csrf_token %}
            {{form|crispy}}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{% trans "Send by email" %}</button>&nbsp;
                <a href="/" class="btn">{% trans "Cancel" %}</a>
            </div>
            <small>* create free trial account for you</small>
        </form>
    </div>
</div>
{% endblock content %}
