{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block content %}

<div class="row">
    <div class="span6 offset3">

{% if user.is_authenticated %}
<h2>{% trans "You are already logged in, why would you like to register?" %}</h2>
<a href="/" class='btn btn-large btn-primary pull-right'>Go to Dashboard</a>
{% else %}
    {% include "forms/registration.html" %}
{% endif %}
    </div>
</div>

{% endblock %}
