{% spaceless %}
{%load i18n%}
{% url contact as contact_query %}
{% endspaceless %}{% blocktrans with user_email=user.email domain=site.domain contact_query=contact_query context "low credits level email" %}Dear {{user_email}},

We appreciate your choice of webcheck. You have almost used all your credits, it is now a good time to refill your credits account. This will let you still scan webpages and do fresh analyses.

We offer several credit packs, so you can choose the one that fits your needs:{% endblocktrans %}
{% for plan in pricing_plans %}{% blocktrans with plan_name=plan.name plan_credits=plan.credits plan_price=plan.price context "low credits level email" %}    * {{plan_name}} package: {{plan_credits}} credits for ${{plan_price}}{% endblocktrans%}
{% endfor %}
{% url payments_payments as payments_query %}{% blocktrans with domain=site.domain contact_query=contact_query payments_query=payments_query  context "low credits level email"%}
Please proceeded to payments page: https://{{ domain }}{{ payments_query }} to order more credits. Orders are processed immediately! If your needs are bigger than this please contact our sales team <sales@webcheck.me> - they will offer you a personalized plan.

Need a little help? Have questions? Please contact <support@webcheck.me> or reach us using our contact form https://{{ domain }}{{ contact_query }}.

Sincerely,
{{domain}} Support Team
{% endblocktrans %}
