{% spaceless %}{%load i18n%}
{%load set %}
{% set "https://webcheck.me" as link %}
{% url contact as contact_query %}
{% endspaceless %}{% blocktrans with user_email=user.email link=link contact_query=contact_query  %}Dear {{user_email}},

Thank you for taking the time to evaluate webcheck.me.  Our support would be happy to answer any questions.  We want you to have a successful trial, so please don't hesitate to reach out in case of any problems navigating the application or getting set up.

I have a few questions regarding your webcheck.me review:

- What performance issues or general webpage scenario brought you to webcheck?
- What determines a successful trial for you?
- What could we do to make webcheck experience even better?

We appreciate your consideration of webcheck!

Need a little help? Have questions? Please contact <support@webcheck.me> or reach us using our contact form {{link}}{{ contact_query }}.

Sincerely,
webcheck.me Support Team
{% endblocktrans %}
