{% extends 'index.html' %}
{%load i18n%}



{% block content %}



<section style="margin-top:3em">
    <div class="well">
    {% trans "Coupon" %}<br/>

    {% if coupon %}
        {% blocktrans with percent=coupon.percent %}
            Kupon rabatowy na {{percent}}%
        {% endblocktrans %}
    {%else%}
        <form action='' method='get'>
            <input type=text name='coupon' />
            <input type=submit value='{% trans "Get coupon" %}'/>
        </form>
    {% endif %}

    {{paypal}}

    </div>
</section>



{% endblock content %}

