{% extends 'base.html' %}
{%load i18n%}
{% load infinite_pagination %}

{% block title %}{% trans "Payments" %}{% endblock %}


{% block content %}

<h1>{% trans "Payments" %}</h1>

<div class="row-fluid">
    {% if payments %}
    {% autopaginate payments per_page=30 as ppayments %}

    <div class="span6">
        <h2>{% trans "Payments archive" %}</h2>
        <div class="container">
            <table class="table" style="width:auto;">
                <thead>
                    <tr>
                        <th>{% trans "date" %}</th>
                        <th>{% trans "price" %}</th>
                        <th>{% trans "discount" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for payment in ppayments %}
                    <tr>
                        <td>{{ payment.date_created }}</td>
                        <td>${{ payment.price }}</td>
                        <td>{% if payment.subscription.coupon %}{{ payment.subscription.coupon.percent }}% {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% paginate %}

    {% endif %}

    <div class="span6">
        <div class="well">
        {% if request.user.get_profile.is_paid %}
            <h2>{% trans "Unsubscribe" %}</h2>
            <p> {% trans "Your VIP membership is paid till " %}{{ request.user.get_profile.paid_till_date }}</p>
            <a HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=alice%40mystore%2ecom">
                <IMG BORDER="0" SRC="https://www.paypal.com/en_US/i/btn/btn_unsubscribe_LG.gif">
            </a>
        {% else %}
            <h2>{% trans "Subscribe" %}</h2>
            <b>{% trans "Discount" %}:</b>
            {% if coupon %} {{ coupon.percent }}% {%else%} 0% &nbsp; <a  data-toggle="modal" href="#modal_coupon_form" >{% trans "I have a coupon code!" %}</a>{% endif %}<br />
            <b>Price:</b> ${{ price }} per month <br />
            <br /><br />
            <div class="modal hide fade" id="modal_coupon_form">
                <form action='' method='get'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>{% trans "Please enter your discount coupon code" %}</h3>
                    </div>
                    <div class="modal-body">
                        <label class="control-label" for="coupon">{% trans "Coupon code" %}</label>
                        <input type=text name='coupon' />
                    </div>
                    <div class="modal-footer">
                        <button type=submit class="btn btn-primary">{% trans "Get coupon" %}</button>
                    </div>
                </form>
            </div>
            {{paypal}}
        {% endif %}
        </div>

    </div>
</div>





{% endblock content %}

