{% extends 'base.html' %}
{%load i18n%}
{%load l10n%}
{% load infinite_pagination %}

{% block title %}{% trans "Payments" %}{% endblock %}


{% block content %}
<div class="modal hide fade" id="modal_coupon_form">
    <form action='' method='get'>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{% trans "Please enter your discount coupon code" %}</h3>
        </div>
        <div class="modal-body">
            <label class="control-label" for="coupon">{% trans "Coupon code" %}</label>
            <input type=text name='coupon' />
        </div>
        <div class="modal-footer">
            <button type=submit class="btn btn-primary">{% trans "Check coupon" %}</button>
        </div>
    </form>
</div>

<h1 class='page-header'>{% trans "Payments" %}</h1>

<div class="row-fluid">
    {% if payments %}
    {% autopaginate payments per_page=30 as ppayments %}

    <div class="span6">
        <h2>{% trans "Payments archive" %}</h2>
        <div class="container">
            <table class="table" style="width:auto;">
                <thead>
                    <tr>
                        <th>{% trans "date" %}</th>
                        <th>{% trans "price" %}</th>
                        <th>{% trans "discount" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.date_created|localize }}</td>
                        <td>${{ payment.price }}</td>
                        <td>{% if payment.subscription.coupon %}{{ payment.subscription.coupon.percent }}% {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% paginate %}

    {% endif %}

    <div class="span4">
        <div class="well">
            <h2>{% trans "Status" %}</h2>
            <p> 
            {#{% trans "Your have " %}{{ request.user.get_profile.credits }} {% trans "credit points" %}#}
            {% blocktrans count points=request.user.get_profile.credits %}
                You have {{points}} credit point.
            {% plural %}
                You have {{points}} credit points.
            {% endblocktrans %}
            </p>

            <h2>{% trans "Buy more points" %}</h2>
            <b>{% trans "Discount" %}:</b>
            {% if coupon %} {{ coupon.percent }}% {%else%} 0% &nbsp; <a  data-toggle="modal" href="#modal_coupon_form" >{% trans "I have a coupon code!" %}</a>{% endif %}<br />


            <form class='form-horizontal' action="{{request.get_full_path}}" method=post>
                {% csrf_token %}
                {% for plan in pricing_plans %}
                    <button class="btn btn-primary btn-large" type=submit name="plan" value="{{plan.pk}}">„{{plan.name}}” – {{plan.price}} = {{plan.credits}} credits</button>
                {% endfor %}
            </form>

        </div>

    </div>
</div>





{% endblock content %}

