{% extends "base.html" %}
{% load humanize %}

{% block title %}Free scan your website{% endblock %}

{% block extrahead %} 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style_entry.css" />
{% endblock %}




{% block content %}


<div id="floater">
</div>
<div id="content">
<h1>Ultimate website scanner </h1>


<div id="borderbox" >
<form id="addtestform" action="{% url scanner.views.results %}" method="post" style="width:100%">
{% csrf_token %}
<INPUT type="text" id="domain" style="width:90%;" title="http://example.org" value="" alt="kk" />
<input type="submit" value="GO!" style="height:3em; border-style:solid; border-width:3px; border-color: #74ef94;" />
<div id="authbox">

    <div style="display:block; height:20%; border-color:red; width:95%">You are not logged in. Please login or provide your email to get <b>free</b> scan. </div>

    <div>
        <INPUT id="email" type="text" title="email@example.org" value="" />
        <input type="submit" value="Send email" />
        
    </div>
or
    <div>
        <INPUT id="login" type="text" title="username" value="" />
        <INPUT id="password" type="text" title="password" value="" />
        <input type="submit" value="Scan now" />
        
    </div>

</div>

</form>

</div>

</div>


{% if user.is_authenticated %}


{% else %}

<!-- in case when we are not logged in -->
<script type="text/javascript">
    $('input[type="text"]').each(function(){
    
        this.value = $(this).attr('title');
        $(this).addClass('text-label');
    
        $(this).focus(function(){
            if(this.value == $(this).attr('title')) {
                this.value = '';
                $(this).removeClass('text-label');
            }
        });
    
        $(this).blur(function(){
            if(this.value == '') {
                this.value = $(this).attr('title');
                $(this).addClass('text-label');
            }
        });
    });


    $('#addtestform').submit(function() {
        if ($('#authbox').css('display') == 'none'){
            $('#authbox').slideDown('slow');   
            return false;
        }
        
    });

</script>
{% endif %}


{% endblock %}

