{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Contact Us" %}{% endblock %}
{% block meta-desc %}{% trans "Contact invitation and contact form. Your opinion is very important to us" %}{% endblock %}


{% block content %}
<div class="row">
    <div class="span7 offset3 well">
        <h1>{% trans "Contact Form" %}</h1>
        <p>{% blocktrans %}Your opinion is very important to us. If you would like to, you can also use email:<span class="coderedirection">em.kcehcbew@troppus</span> to reach us!" {% endblocktrans %}</p>

        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">{% trans "Contact Us" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

