{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block content %}


{% if user.is_authenticated %}
{% trans "You are already logged in, why would you like to register?" %}
{% else %}

<section style="margin-top:3em">
    <form class="well form-horizontal" id="form_login" method="post" action="" >
        <h2>{% trans "Register" %} <i class="icon-plus"></i></h2>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        {% for field in form %}
        <div class="control-group {% if field.errors %}error{% endif %}">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
            </div>
        </div>
        {% endfor %}

            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{% trans "Send activation email" %}</button>&nbsp;
                <a href="/" class="btn">{% trans "Cancel" %}</a>
            </div>
        </fieldset>
    </form>
{% endif %}
</section>
{% endblock %}
