{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm e-mail" %}{% endblock %}
{% block content %}


<div class="section row">
    <div class="span8 offset2 well">
    <h1>{% trans "Almost done..." %}</h1>
    <p>{% trans "A confirmation email has been sent to you. Please <b>check your email</b> and click on the link to activate your account." %}</p>
    <br /><br />
    <h4>{% trans "Haven't got?" %}</h4>
    <p><small>{% trans "Please check junk/spam folder in our email account!" %}</small></p>

    </div>
</div>
{% endblock %}

