{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Contact Us" %}{% endblock %}


{% block content %}
<div class="row">
    <div class="span6 offset3 well">
        <h1>{% trans "Contact Form" %}</h1>
        <p>{% trans "Your opinion is very important to us." %}</p>


        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">{% trans "Contact Us" %}</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}

