{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Contact Us" %}{% endblock %}


{% block content %}
<h1>{% trans "Contact Form" %}</h1>
<p>{% trans "Your opinions are very important to us." %}</p>


<form action="" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <fieldset class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
        </div>
    </fieldset>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Contact Us" %}</button>
    </div>

</form>
{% endblock %}

