{% extends 'scanner/base.html' %}
{% load i18n %}

{% block content %}
     
{% trans "Wybierz pakiet, który Cię interesuje" %} <br/>
    <br/>
    {% for tar in tariffs %}

        <h2>{{tar.name}}</h2> 
        
        {% trans "cena"%}: {{tar.price}}<br/><br/>

        {% trans "Testy w pakiecie"%}:<br/>
        {% for test in tar.tests.all %}
        - {{test}} ({% trans "min. częstotliwość:" %}{{test.max_frequency}} min. )
            <br/>
        {% endfor %}

        <h3><a href='{% url gpayments_buy tar.id %}'>{% trans "kup" %}</a></h3>



        <hr/>
    {% endfor %}

{% endblock content %}

