{% extends "base.html" %}
{% load humanize %}
{%load i18n%}

{% block title %}{% trans "Free scan your website" %}{% endblock %}

{% block extrahead %}
{% endblock %}


{% block content %}
<div class="row" style="margin-top:9em;">
    <div class="span4 offset4"><a href="/"> <img src="{{ STATIC_URL }}images/logo2.png" /></a></div>
    <div>{% trans "let us check your website" %}</div>
</div>

<form class="form-vertical" action="{% url scanner.results %}" method="POST" style="text-align:center; margin-top:4em;">
    {% csrf_token %}
    <input type="text" id="domain" name="url" style="width:60%; height:30px; font-size: 24px;" placeholder="{% trans 'enter your website url: http://example.org' %}" autocomplete="off"  />
   <input type="submit"  value="{% trans "scan this website" %}" class="btn-large btn-primary"> </input>

</form>

<div class="section">
    <div class="row-fluid">
        <div class="row">
            <div class="span3">
                <h2><b>{% trans "Welcome" %}</b></h2>
                {% blocktrans %}
                <p>This tool allows you to <strong>check your website against</strong> many known problems like <b>misconfiguration or malware</b> (and many more). Just enter your website address in the form above and let us check your site!</p>
                {% endblocktrans %}
                <p>Learn more <a href="{% url scanner_about %}">about us</a>  or <a href="{% url contact %}">get in touch</a>.</p>
            </div>
            <div class="span3">
                <h2>{% trans "It's Free!" %}</h2>
                {% blocktrans %}
                <p>We believe that information should be free - we allow everybody to use our scanner for free (even for commercial use).</p>{% endblocktrans %}
                <p>There are, however, additional options available for VIP members. <a href="{% url scanner_pricing %}">(learn more)</a></p>
            </div>
            <div class="span3">
                <h2>{% trans "Lots of tests" %}</h2>
                {% blocktrans %}
                <p>Our tests database was created in response to requests from our customers. We make every
                effort to cover all aspects of webpages problems (XSS, sql injecton) or misconfigurations
                (too big pagesize or not optimal css or images). As webpages are more and more complex, there are lots
                of different technologies. We keep our technology updated - for you!</p>{% endblocktrans %}
            </div>
            <div class="span3">
                <h2>{% trans "Lightning fast" %}</h2>
                {% blocktrans %}
                <p>We understand that your time is valuable! We use Bleeding-Edge-Cloud technology to provide the results to you as fast as possible.
                You get your results immediately on your PC. You don't have to wait untill all the tests are done.</p>
                <p>In the near future there will be an option for VIP members to recive reports by e-mail. You will save more of your precious time!</p>{% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<div class="section">
    <h1>{% trans "Our checks" %}</h1>
    <div class="row-fluid">
        <div class="row">
            <div class="span4">
                <h2>{% trans "Compatibility" %} <img alt="" class="align-right" src="{{ STATIC_URL }}images/services/webdesign.png" /></h2>
                {% blocktrans %}
                <p>The world of webbrowsers is huge and changing all the time. There is Mozilla Firefox, Google Chrome, Internet Explorer, Opera, Safari and many others. Wait - there are different versions of them!</p>
                <p><b>Webcheck.me</b> allows you to check how your page behaves in different enviroments, by providing full-size <b>website snapshots</b>.</p> {% endblocktrans %}
            </div>
            <div class="span4">
                <h2>{% trans "Performance" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/webdevelopment.png" /></h2>
                {% blocktrans %}
                <p>We measure how fast your webpage performs, then give it a note. You will know what should be changed to make it faster. Maybe your page size is too big? Maybe loadtime is too long as well? Let us check it!</p>
                <p>Our algorithms will sugest to you what can be easily <b>minimalized</b> - images, css styles and html.  </p> {% endblocktrans %}
            </div>
            <div class="span4">
                <h2>{% trans "Security" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/seo-services.png" /></h2>
                {% blocktrans %}
                <p>Security problems lead to a decrease in your brand value. React fast on any malware, viruses or hackers attack before they hit your customers. Webcheck.me is a perfect tool to monitor and check your website systematically.</p>
                <p>We provide <b>malware check</b>, scan your website against <b>viruses</b>, look for <b>XSS</b> holes and <b>SQL injections</b>.  </p> {% endblocktrans %}
            </div>
        </div>
        <div class="row">
            <div class="span4">
                    <h2>{% trans "SEO" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/print-design.png" /></h2>
                    {% blocktrans %}
                    <p>We understand how important it is for your business to be easily found by search engines (like google or yahoo). This probably has direct connection with your profits.</p>
                    <p><b>webcheck.me</b> checks parameters that influences on your position in google search. We want to help your customers to reach you! </p> {% endblocktrans %}
            </div>
            <div class="span4">
                    <h2>{% trans "Cloud-based" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/logo-design-and-branding.png" /></h2>
                    {% blocktrans %}
                    <p>All of our services are cloud-based. There is <b>no need to install</b> anything on your computer. You can reach it from any place in the world!</p>

                    <p>Our distributed free website scanner gives you highest performance with high availability. <b>Webcheck.me</b> was created to be a handy tool. </p> {% endblocktrans %}
            </div>
            <div class="span4">
                    <h2>{% trans "E-mail" %} <img class="align-right" alt="" src="{{ STATIC_URL }}images/services/newsletter.png" /></h2>
                    {% blocktrans %}
                    <p>This monitoring tool checks not only websites but also other aspects of communication. <b>Webcheck.me</b> cares about e-mails too - checks availability of your mailservers, their compliance with standards and  if they are listed or not on any <b>blacklists (RBL)</b></p> {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<div class="section">
    <h1>{% trans "Want more?" %}</h1>
    <h2>{% trans "VIP privileges:" %}</h2>

    <div class="row-fluid">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    <h2>{% trans "No limits!" %}</h2>
                    <p>There is no complicated tariffs table, no additional hidden payments, just pay <a href="{% url scanner_pricing %}">flat weekly fee</a> and use: the limit is the sky! (and the hardware). </p>
                </div>
                <div class="span3">
                    <h2>{% trans "Priority queue" %}</h2>
                    {% blocktrans %}
                    <p>We respect your business time, all your checks and scans will be proceded as fast as possible (ASAP). Feel like a VIP!</p>{% endblocktrans %}
                </div>
                <div class="span3">
                    <h2>{% trans "Scan deeper" %}</h2>
                    <p>{% trans "We understand how important are results for your business. As VIP your webpages are checked deeper and with more care. Just to provide more acurate hints for your business!" %}</p>
                </div>
                <div class="span3">
                    <h2>{% trans "...and more" %}</h2>
                    <p>{% trans "Checkout our " %}<a href="{% url scanner_pricing %}">{% trans "feature matrix" %}</a> {% trans "to be familiar with all benefits of a VIP account" %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span3 offset10">
            <a href="{% if user.is_authenticated %}{% url payments_payments %}{% else %}{% url registration_register %}{% endif %}" class="btn btn-large btn-inverse"> <i class="icon-star icon-white"></i> {% trans "Become a VIP" %}</a>
        </div>
    </div>
</div>

<script type="text/javascript">
        $("#domain").focus();
</script>
{% endblock %}
