{% extends 'base.html' %}
{% load humanize %}
{% load l10n %}
{% load i18n %}

{% block title %}{% trans "Confirmation needed" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 offset2 well">
        <h1>{% trans "Confirmation needed" %}</h1>
        <div>{% trans "Please fill following captcha codes to confirm that it wasn't an automated request. Your request will be then processed imedietly." %}
            <form class="form-horizontal" action=".{#{% url scanner.results %}#}" method="POST">
                {% csrf_token %}
                {{recaptcha_form}}
                {% comment %}
                {% for field in recaptcha %}
                    {{ field }}
                {% endfor %}
                <input type="hidden" value="{{ url }}" name="url" />
                {% endcomment %}
                <input type="submit"  value="{% trans "Confirm!" %}" class="btn btn-large btn-primary" />
            </form>
        </div>

        {% url contact as url_contact %}
        {% blocktrans %}
        <h2>We're sorry..</h2>
        <p>...but your query looks similar to automated requests from a computer virus or spyware application. To protect our users, we can’t process your request without recaptcha validation.</p>
        <h3>Need HELP?</h3>
        <p>Our support will be happy to provide answers for your questions. Please use our <a href="{{ url_contact }}">contact form</a> to get help.</p>
        {% endblocktrans %}
    </div>
</div>

{% endblock content %}

