{% extends 'base.html' %}
{%load i18n%}

{% block content %}

<h1>{% trans "Scan archive" %}</h1>
{% trans "Here you can find your old scans performed by webcheck.me" %}
<div class="row-fluid">
    {% if tests %}
    <div class="span6">
        <div class="container">
            <table class="table table-striped " style="width:auto;">
                <thead>
                    <tr>
                        <th>{% trans "url" %}</th>
                        <th>{% trans "completion" %}</th>
                        <th>{% trans "duration" %}</th>
                        <th>{% trans "priority" %}</th>
                        <th>{% trans "date" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for test in tests %}
                    <tr>
                        <td><a href="{% url scanner_report test.uuid %} ">{{ test.url }}</a></td>
                        <td>{{ test.percent_done|floatformat:"0" }}%</td>
                        <td>{{ test.duration|floatformat:"0" }}s</td>
                        <td>{{ test.priority }}</td>
                        <td>{{ test.creation_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}

