{%load i18n%}
Dear {{ user }},
Welcome at webcheck! Your registration process is completed. As registred user you will get some features like medium priority queue and scan archive.

There are only two steps left to become a VIP:
    * visit payments site: {% url payments_payments %}
    * securly pay throu Paypal, just click on "subscribe" button

Some of VIP privileges are:
    * Unlimited scans per website
    * Deeper scans
    * Additional hints and solutions
    * ... and many more! please visit: {% url scanner_pricing %}

If you have any questions please contact our support<support@webcheck.me>!

Sincerely,
webcheck.me Team
