{%load i18n%}
Dear {{ user }},
{% blocktrans %}Welcome at webcheck! Your registration process is completed. As a registred user you will get features like medium priority queue and scan archive.

There are only two steps left to become a VIP:
    * visit payments site:{% endblocktrans %} https://webcheck.me{% url payments_payments %} {% blocktrans %}
    *  make secure payment by Paypal, just click on "buy now" button

Some of VIP privileges are:
    * Unlimited scans per website
    * More profound scans
    * Additional hints and solutions
    * ... and many more! please visit: {% endblocktrans %}https://webcheck.me{% url scanner_pricing %}
{% blocktrans %}
If you have any questions please contact our support <support@webcheck.me>!

Sincerely,
webcheck.me Team
{% endblocktrans %}
